<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-red fixed-top">
    <div class="container-fluid">
      <%= link_to(image_tag('marvel_logo.png'), root_path, class: "navbar-brand") %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" style="color: snow">Home</a>
          </li>
        </ul>
        <%= form_tag(home_index_path, method: :get, class: "d-flex") do %>
          <%= text_field_tag(:search_term, params[:search_term], class: "form-control me-2", placeholder: "Search", title: "Search any comic book. Example: 'Deadpool' or 'Spiderman'") %>
          <%= hidden_field_tag(:offset, 0) %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<main class="bg-dark">
  <div class="container">
    <%= image_tag('marvel_cover.png', class: "img-fluid") %>
  </div>
  
  <section class="py-5 text-center container">
    <h1 class="text-white">Comic Books</h1>
  </section>

  <div class="album py-5 bg-light bg-dark">
    <div class="container" >
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <%- @comics.each do |comic| %>
          <div class="col">
            <div class="card">
              <div class="image">
                <%= image_tag comic.comic_img_url, class: "bd-placeholder-img card-img-top" %>
              </div>
              <div class="details">

                <%- if not_liked_comic?(comic["id"], session[:current_user_id]) %>
                  <%= link_to(image_tag(asset_path("heart_off.png"), id: "like_img_heart_off_#{comic["id"]}", title: "Not Liked"), favourit_comics_path(user_id: session[:current_user_id], comic_id: comic["id"]), method: :post, remote: true, class: "like-img like-hover-img", id: "like_comic_id_#{comic["id"]}") %>
                <% else %>
                  <%= link_to(image_tag(asset_path("heart_on.png"), id: "like_img_heart_on_#{comic["id"]}", title: "Liked"), favourit_comics_path(user_id: session[:current_user_id], comic_id: comic["id"]), method: :delete, remote: true, class: "like-img", id: "like_comic_id_#{comic["id"]}") %>
                <% end %>

                <div class="center">
                  <h4><%= comic["title"] %></h4>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <br>

      <div class="row">
        <div class="col">
          <%- if show_previous_btn?(@comics_data) %>
            <%= form_tag(home_index_path, method: :get) do |f| %>
              <%= hidden_field_tag(:search_term, params[:search_term]) %>
              <%= hidden_field_tag(:offset, back_offset_calculator(@comics_data)) %>
              
              <%= button_tag "Previous Page", class: "btn btn-light" %>
            <% end %>
          <% end %>     
        </div>

        <div class="col">
          <%- if show_next_btn?(@comics_data) %>
            <%= form_tag(home_index_path, method: :get, class: "float-end") do |f| %>
              <%= hidden_field_tag(:search_term, params[:search_term]) %>
              <%= hidden_field_tag(:offset, next_offset_calculator(@comics_data)) %>
              
              <%= button_tag "Next Page", class: "btn btn-light" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">

    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top" title="Back to Top"> ^ </button>    

    <p class="mb-1">
      Developed by <a href="https://github.com/valterfernandesdev" target="_blank">Valter Fernandes Filho</a> 
      with <a href="https://developer.marvel.com/docs" target="_blank">Marvel interactive API</a>
    </p>
  </div>
</footer>