<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Comics Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'back_to_top_btn', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('marvel_icon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
